@font-face {
  font-family: 'Koton-Regular';
    src: url('Koton-Regular.eot'); /* IE9 Compat Modes */
    src: url('Koton-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('Koton-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('Koton-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('Koton-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('Koton-Regular.svg#svgKoton-Regular') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
  }

@font-face {
  font-family: 'AGBookPro-RegExt';
    src: url('AGBookPro-RegExt.eot'); /* IE9 Compat Modes */
    src: url('AGBookPro-RegExt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('AGBookPro-RegExt.woff2') format('woff2'), /* Super Modern Browsers */
        url('AGBookPro-RegExt.woff') format('woff'), /* Pretty Modern Browsers */
        url('AGBookPro-RegExt.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('AGBookPro-RegExt.svg#svgAGBookPro-RegExt') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
  }




  html{
height: 100vh;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    font-family: gothambook;
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
    background-image: url(../background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 39%;
    }

h1 {
  color: blue;
  font-family: AGBookPro-RegExt;
  font-size: 23px;
  padding-left: 8px;
  margin: 0px;
}

h2 {
  color: blue;
  font-family: AGBookPro-RegExt;
  font-size: 23px;
  padding-left: 8px;
}


h3 {
    color: white;
    font-family: 'koton-regular';
    text-align: justify;
    font-size: 20px;
    margin-top: 2px;
}

h4 {
  color: blue;
  background-color: white;
  font-family: AGBookPro-RegExt;
  font-size: 23px;
  padding-left: 8px;
  margin-bottom: 0px;
}

a {
  color: white;
  text-decoration: none;

}

a:hover {
  color: yellow;
}


img {
  width: 900%;
}

image-wrapper {
  color:red;
}


 .container {
      width: 100%;
      height: 400px;
      position: absolute;
}

.container2 {
      width: 100%;
      height: 400px;
      position: absolute;
}

.container {
      width: 100%;
      height: 400px;
      position: absolute;
}


    /* Handle */
.container::-webkit-scrollbar-thumb {
        background: aqua;
        border-radius: 10px;
    }

#div1 {
  background-color: white;
  height:450px;
  width:290px;
  overflow:auto;
  border:1px solid blue;
  font-size: 30px;
}

#div2 {
  height:270px;
  width:450px;
  overflow:auto;
  border:1px solid blue;
}

#div3 {
  height:450px;
  width:270px;
  overflow:auto;
  border:1px solid blue;
}


#draggable {
width: 450px;
height: 270px;
padding: -0.5em;
  top: 10px;
}


#draggable2 {
width: 270px;
height: 450px; padding: -0.5em;
top: 30px;
}


#draggable3 {
   height: 300px;
   padding: -0.5em;
   top: 20px;
}




.footerWrap {
    width:100%;
    height: 30px;
    position:fixed;
    bottom: 0px;
    background-color: blue;
    display: flex;
    align-items: center;
}

.footer {
  width:100%;
    margin:auto;
}

.footerleft {
   width: 100%;
   background: rgb(255,255,255);
   background: linear-gradient(0deg, rgba(255,255,255,1) 37%, rgba(255,255,255,0) 100%);
   color: white;
   text-align: center;
}

.footer-mobile {
  display: none;
}


.footer h3 {float:left; width:100%; text-align:center; }

::-webkit-scrollbar {
  background-color: white;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: red;
}

 ::-webkit-scrollbar-thumb:horizontal {
        background: rgba(255, 247, 0, 1);
}

.div1::-webkit-scrollbar {
  background-color: #00FFFF;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {

}



@media all and (max-width: 450px) and (min-width: 100px) {

  body{
    background-color: blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 9px;
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    margin: 0px;
    background-image: none;
    }

  h1 {
  color: red;
  background-color: white;
  font-family: AGBookPro-RegExt;
  font-size: 25px;
  padding-left: 8px;
  margin: 0px;
}

h1 {
  color: blue;
  background-color: white;
  font-family: AGBookPro-RegExt;
  font-size: 25px;
  padding-left: 8px;
  margin: 0px;
}

h2 {
  color: blue;
  background-color: white;
  font-family: AGBookPro-RegExt;
  font-size: 25px;
  padding-left: 8px;
}


h3 {
    color: white;
    font-family: 'koton-regular';
    text-align: justify;
    font-size: 17px;
    margin-top: 12px;
}

h4 {
  color: blue;
  background-color: white;
  font-family: AGBookPro-RegExt;
  font-size: 25px;
  padding-left: 8px;
  margin-bottom: 0px;
}

a {
  color: white;
  text-decoration: none;

}

#draggable3 {
  width: 90%;
  height: 70vh;
  padding: -0.5em;
  position: relative;
  margin-bottom: 44px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container3 {
  width: 95%;
  margin-bottom: 19px;
}



#div1 {
  background-color: white;
  height:70vh;
  width:100%;
  overflow:auto;
  border:1px solid blue;
  margin-bottom: 19px;
}


#draggable {display: none;}



#div3 {
  height:20vh;
  width:100%;
  border:1px solid blue;

}

#draggable2 {
width: 90%;
height: 20vh;
padding: -0.5em;
margin-left: auto;
margin-right: auto;
margin-bottom

}


.container2 {
      width: 95%;
      height: 20vh;
      position: absolute;
}

#item3 {
  width: 100%;
}



.footerWrap {
    width:100%;
    height: 14px;
    position:fixed;
    bottom: 0px;
    background-color: blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.footer {
  width:100%;
    margin:auto;
}

.footerleft {
 display: none;
}

.footer-mobile {
  display: flex;
  color: white;
}

h5 {
    color: white;
    font-family: 'koton-regular';
    text-align: justify;
    font-size: 17px;
    margin-top: 12px;
}

.footer h3 {float:left; width:100%; text-align:center; }
}

.footer h5 {float:left; width:100%; text-align:center; }
}
}

